# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Dependency directories
node_modules

# IntelliJ IDE
.idea

# Build directory
dist

# Optional npm cache directory
.npm

# Logs
logs
*.log
npm-debug.log*

# Build directory
dist
